<h2><%= "#{@child.name}'s Wallet" %></h2>

	<ul>
	<% @child.wallet.each do |item| %>
		<li><%= item.chore.title %></li>
	<% end %>
	</ul>
	
<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
