<h1>Kids Home Page</h1>
<div id="home-page">
  <table>
  <% @children.each do |child| -%>
<p>
   <tr><%= child.name %></tr>
   <tr><%= ":  " %> </tr>
   <tr><%= number_to_currency(child.total_value) %></tr>
</p>
  <% end %>
  </table>
</div>
