<% if notice%>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Kids Home Page</h1>

<% @children.each do |child| %>
	<div class="entry">
    <%= link_to child.name, child_path(child.id) %>
<% end %>
	</div>